/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%; /* Asegurarse de que el header ocupe todo el ancho */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el encabezado */
    color: white;
    padding: 10px 0; /* Disminuir el padding para que sea más delgado */
    text-align: center;
    animation: slide-down 0.5s ease-in-out;
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Alinéalos a la parte superior */
    left: 0; /* Alinéalos a la izquierda */
    right: 0; /* Alinéalos a la derecha */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    backdrop-filter: blur(10px); /* Aplicar desenfoque al contenido detrás del encabezado */
}
/* Asegúrate de que el contenido de la página no quede cubierto por el header */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #2e2c2df3;
    color: #ffffff; /* Color del texto en un tono claro */
    padding-top: 120px; /* Ajusta este valor según la altura de tu header */
    transition: background 1s ease; /* Suaviza la transición del fondo */
}



@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header nav ul li {
    margin: 0 25px; /* Aumentar el margen lateral de los elementos del menú */
}

/* Asegurarse de que el enlace normal y visitado no tengan subrayado */
header nav ul li a {
    color: white; /* Color normal del enlace */
    text-decoration: none; /* Eliminar el subrayado */
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:visited {
    color: white; /* Color del enlace visitado */
    text-decoration: none; /* Eliminar el subrayado en el enlace visitado */
}

header nav ul li a:hover {
    color: #ffcc00; /* Color de hover en amarillo */
    text-decoration: none; /* Asegurarse de que no haya subrayado en hover */
}

header h1 {
    margin-top: 20px; /* Aumentar el margen superior del título */
    font-size: 36px;
}

/* Secciones */
section {
    padding: 60px 0; /* Aumentar el padding superior e inferior */
    text-align: center;
    opacity: 0;
    animation: fade-in 1s forwards;
}

.fade-in {
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

#about p,
#projects p {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
    color: #ecf0f1; /* Color del texto en un tono claro */
}

/* Sección de Proyectos */
#projects {
    padding: 60px 0; /* Espaciado superior e inferior */
    text-align: center;
}

/* Sección de proyectos */
.project-wrapper {
    margin: 20px 0; /* Espaciado vertical entre franjas */
}

/* Estilo para los proyectos */
.project {
    background-color: rgb(0, 0, 0, 0.3); /* Fondo semitransparente para el proyecto */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Suavizar la transición */
    position: relative; /* Necesario para posicionar el texto */
    overflow: hidden; /* Ocultar el texto al hacer hover */
}

.project-title {
    background-color: rgb(0, 0, 0, 0.3); /* Fondo semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    margin: 0 auto; /* Centrar horizontalmente */
    width: fit-content; /* Ajustar ancho al contenido */
}

/* Cambiar el fondo al hacer hover */
.project:hover {
    transform: translateY(-5px); /* Elevar la franja al hacer hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al hacer hover */
}

/* Fondos de imagen específicos al hacer hover */
.project.senator:hover {
    background-image: url('../images/senatorIndex.png'); /* Cambia esta ruta a la imagen del proyecto 1 */
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
}

.project.gestor:hover {
    background-image: url('../images/laLigaIndex.png'); /* Cambia esta ruta a la imagen del proyecto 2 */
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
}

.project.discord-bot:hover {
    background-image: url('../images/discordIndex.png'); /* Cambia esta ruta a la imagen del proyecto 3 */
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
}

.project.virgil-abloh:hover {
    background-image: url('../images/virgilIndex.png'); /* Cambia esta ruta a la imagen del proyecto 4 */
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
}

.project.souls-like:hover {
    background-image: url('../images/soulsIndex.png'); /* Cambia esta ruta a la imagen del proyecto 5 */
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
}

/* Estilo para los títulos de los proyectos */
.project h3 {
    margin: 0; /* Eliminar margen para que ocupe todo el espacio */
    padding: 0; /* Eliminar padding */
    font-size: 5vw; /* Tamaño del texto adaptado a la ventana, ajusta según sea necesario */
    background-image: linear-gradient(135deg, #2980b9, #8e44ad); /* Color del texto con degradado */
    -webkit-background-clip: text; /* Recortar el fondo para que se aplique solo al texto */
    background-clip: text; /* Asegurarse de que el fondo se recorte también en otros navegadores */
    color: transparent; /* Hacer que el color del texto sea transparente */
    font-weight: bold; /* Hacer el texto más destacado */
    text-align: center; /* Alinear el texto al centro */
    line-height: 1.2; /* Ajustar el alto de línea para que haya espacio suficiente */
    width: 100%; /* Asegurarse de que el texto ocupe todo el ancho del contenedor */
    height: auto; /* Asegurarse de que el alto se ajuste automáticamente */
    display: flex; /* Permitir que el texto ocupe todo el contenedor */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    overflow: hidden; /* Evitar que se corte el contenido */
    transition: opacity 0s; /* Cambiado a 0s para que sea instantáneo */
    opacity: 1; /* Hacer que el texto sea visible inicialmente */
}

/* Ocultar el texto al hacer hover */
.project:hover h3 {
    opacity: 0; /* Hacer que el texto desaparezca al pasar el ratón */
}

/* Elimina el subrayado de los enlaces */
.project a {
    color: inherit; /* Mantener el color heredado, para usar el color del texto */
    text-decoration: none; /* Eliminar subrayado por defecto */
    display: block; /* Hacer que el enlace ocupe todo el contenedor */
    width: 100%; /* Asegurarse de que el enlace ocupe todo el ancho */
}

/* Footer */
footer {
    width: 100%; /* Asegurarse de que el footer ocupe todo el ancho */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el pie de página */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

/* Sección: Contacto */
#contact {
    padding: 60px 0; /* Espaciado superior e inferior */
    text-align: center;
    background-color: rgb(0, 0, 0, 0.3); /* Fondo blanco con 80% de opacidad */
    border-radius: 10px;
    margin: 20px 0; /* Espaciado vertical entre secciones */
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 20px; /* Espaciado inferior */
}

#contact p {
    font-size: 18px;
    color: #ffffff; /* Color del texto en un tono más oscuro */
    margin-bottom: 30px; /* Espaciado inferior */
}

.contact-info {
    font-size: 18px;
    color: #ffffff; /* Color del texto en un tono más oscuro */
}

.contact-info a {
    color: #8727c7; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

.contact-info a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Sección: Sobre mí */
#about {
    padding: 60px 0; /* Espaciado superior e inferior */
    text-align: center;
    margin: 20px 0; /* Espaciado vertical entre secciones */
}

/* Estilo para el recuadro */
.about-container {
    display: flex; /* Flexbox para alinear imágenes y texto */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente */
    flex-direction: column; /* Apilar elementos verticalmente */
    background-color: rgb(0, 0, 0, 0.3); /* Fondo blanco para el recuadro */
    padding: 20px 30px; /* Padding aumentado para el recuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para el recuadro */
    max-width: 500px; /* Aumentar el ancho máximo del recuadro */
    margin: 0 auto; /* Centrar el recuadro horizontalmente */
}

/* Color del texto en azul más oscuro */
#about h1 {
    color: #ffffff; /* Azul oscuro para el título */
}

#about p {
    width: 100%; /* Ajustar el ancho del texto al 100% */
    margin: 10px 0; /* Espaciado vertical entre párrafos */
    font-size: 18px;
    color: #ffffff; /* Azul oscuro para el texto */
}



.images-container {
    flex: 1; /* Ocupar el mismo espacio en la fila */
    max-width: 600px; /* Máximo ancho de las imágenes */
    margin: 0 20px; /* Espaciado lateral */
}

.about-image {
    max-width: 100%; /* Hacer que la imagen no exceda el contenedor */
    height: auto; /* Ajustar altura automáticamente */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
}


/* Adaptaciones para dispositivos móviles */
@media (max-width: 768px) {
    header {
        padding: 5px 0; /* Reducir el padding superior e inferior del header */
        font-size: 16px; /* Ajustar el tamaño de la fuente del header */
    }

    header h1 {
        font-size: 24px; /* Tamaño de fuente del encabezado en pantallas pequeñas */
    }

    header nav ul {
        flex-direction: row; /* Asegurarse de que el menú esté en fila */
        justify-content: center; /* Centrar el menú horizontalmente */
    }

    header nav ul li {
        margin: 0 10px; /* Reducir el margen lateral entre los elementos del menú */
    }

    .project h3 {
        font-size: 6vw; /* Ajustar el tamaño del texto en dispositivos más pequeños */
    }

    #about {
        padding: 40px 0; /* Disminuir el padding en pantallas pequeñas */
    }

    #projects {
        padding: 30px 0; /* Ajustar el padding para pantallas pequeñas */
    }

    .project {
        padding: 20px; /* Reducir el padding para pantallas pequeñas */
    }

    .project h3 {
        font-size: 8vw; /* Ajustar el tamaño del texto para pantallas pequeñas */
    }
}

